{% extends "base_layout.html" %}
{% block li_dr_registry %}class="active"{% endblock %}
{% block css_scripts %}
<link rel="stylesheet" href="/static/css/custom_icons.css">
{% endblock %}
{% block body %}
</h1>
<h3>Device registry explorer </h3>
<div class="container-fluid">
{% if dr_response %}
<table class="table table-bordered table-striped table-hover">
   <thead>
      <tr>
        <th><h6>Id</h6></th>
        <th><h6>Integr. Id</h6></th>
        <th><h6>Address</h6></th>

        <th><h6>Name</h6></th>
        <th><h6>Alias</h6></th>
        <th><h6>Components</h6></th>
        <th><h6>Comm Tech</h6></th>
        <th style="min-width: 230px"><h6>Product info</h6></th>
        <th style="min-width: 110px" ><h6>Version</h6></th>
        <th><h6>Status</h6></th>

        <th style="min-width: 80px"><h6>First Use Date</h6></th>
        <th style="min-width: 80px"><h6>Last Update</h6></th>
        <th><h6>Security</h6></th>
        <th style="min-width: 130px"><h6>Power descriptor</h6></th>
        <th><h6>Action</h6></th>
        <th><h6>Last Error Msg</h6></th>
      </tr>
   </thead>
   <tbody>
   {% if dr_response.event.properties.device_list.value %}
   {%  for device in dr_response.event.properties.device_list.value %}
       <tr>
        <td rowspan="2" >{{ device.Id }}</td>
        <td>{{ device.IntegrationId }}</td>
        <td>{{ device.Address }}</td>

        <td>{{ device.Name }}</td>
        <td> {% if device.Alias %} <a href="javascript:open_update_dr_field_modal({{ device.Id }},'Alias','{{ device.Alias }}')">{{ device.Alias }}</a>
        {% else %} <a href="javascript:open_update_dr_field_modal({{ device.Id }},'Alias','{{ device.Alias }}')"> <span class="pull-right glyphicon glyphicon-pencil">&nbsp;</span> </a> {% endif %}</td>
        <td>
            <a data-toggle="collapse" href="#endpoints_{{ device.Id }}">Services</a>
            <a data-toggle="collapse" href="#properties_{{ device.Id }}">Properties</a></td>
        <td>{{ device.CommunicationTechnology }}</td>
        <td><div><small>Manuf. :{{ device.Manufacturer }} </small></div>
            <div><small>Id :{{ device.ProductId  }} </small></div>
            <div><small>Type :{{ device.ProductTypeId }} </small></div>
           {% if device.SerialNumber %} <div><small>Serial : {{ device.SerialNumber }}</small></div> {% endif %}
            <div><small>Hash : {{ device.HashCode }} </small></div>
        </td>
        <td><div><small>Hardw :{{ device.HardwareVersion }} </small></div>
            <div><small>Softw :{{ device.SoftwareVersion }} </small></div>
            <div><small>Protocol :{{ device.ProtocolVersion }} </small></div>
        </td>
        <td >{% if device.Status == "Up" %}<h4 style="color: #75c841" class="pull-right glyphicon glyphicon-thumbs-up">&nbsp;</h4>{% else %}
            <h4 style="color: red" class="pull-right glyphicon glyphicon-warning-sign">&nbsp;</h4>
            {% endif %}
        </td>

        <td><small>{{ device.FirstUseDate|replace("T"," ") }}</small></td>
        <td><small>{{ device.LastUpdate|replace("T"," ") }}</small></td>
        <td>{{ device.SecurityLevel }}</td>
        <td>
            {% if device.PowerDescriptor.CurrentPowerSource == "Rechargeable" %}<div > <div class="icon-battery"></div>  {{ device.PowerDescriptor.CurrentPowerSourceLevel }}%</div>{% endif %}
            {% if device.PowerDescriptor.CurrentPowerSource == "Constant" %}<div class="icon-mains-power"></div>{% endif %}
{#            <div><small>Current:{{ device.PowerDescriptor.CurrentPowerSource }} </small></div>#}
{#            <div><small>Available:{{ device.PowerDescriptor.AvailablePowerSource }} </small></div>#}
{#            <div><small>Level: </small>{{ device.PowerDescriptor.CurrentPowerSourceLevel }}%</div>#}
           {% if device.PowerDescriptor.CurrentPowerSource == "Rechargeable" %} <div><small>Wakeup int. :{{ device.PowerDescriptor.WakeUpInterval }} </small></div> {% endif %}
        </td>

        <td style="min-width: 100px">
            <a href="javascript:execute_devreg_cmd('init_device',{{ device.Id }},'/ui/inter_console?filter=/dev/{{ device.CommunicationTechnology }}/{{ device.Address }}/&mode=normal')"><h4 class="glyphicon glyphicon-fullscreen"></h4></a>
            <a target="_blank" href="{{ configs.smartly.sdc_uri }}/live/SDC/GetDeviceList?HashCode={{ device.HashCode }}"><h4 class=" glyphicon glyphicon-info-sign"></h4></a>
            <a href="javascript:execute_devreg_cmd('delete',{{ device.Id }} ,'')"><h4 class="pull-right glyphicon glyphicon-trash">&nbsp;</h4></a>
        </td>
       <td><small>{{ device.LastErrorMsg }}</small></td>
      </tr>
     <tr>
         <td colspan="18" >

        <div id="endpoints_{{ device.Id }}" class="panel-collapse collapse ">
          <h5>Services</h5>
          <div class="panel-body">
              <table class="table table-condensed table-bordered">
                  <thead>
                  <tr><th>Id</th>
                      <th>Type</th>
                      <th>Support</th>
                      <th>Control</th>
                      <th>Security</th>
                      <th>Uri</th>
                      <th>Capabilities</th>
                      <th>Property</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% for endp in device.EndPoint %}
                    <tr><td>{{ endp.Id }}</td>
                        <td>{{ endp.Type }}</td>
                        <td>{% if endp.Support %} <h5 class="pull-right glyphicon glyphicon-ok">&nbsp;</h5>{% else %} <h5 class="pull-right glyphicon glyphicon-remove">&nbsp;</h5> {% endif %}</td>
                        <td>{% if endp.Control %} <h5 class="pull-right glyphicon glyphicon-ok">&nbsp;</h5>{% else %} <h5 class="pull-right glyphicon glyphicon-remove">&nbsp;</h5> {% endif %}</td>
                        <td>{{ endp.SecurityLevel }}</td>
                        <td><a href="/ui/inter_console?filter={{ endp.Uri }}&mode=normal">{{ endp.Uri }}</a></td>
                        <td><small>{{ endp.Capabilities }}</small></td>
                        <td>{{ endp.Property }}</td></tr>
                   {% endfor %}
                  </tbody>

              </table>
          </div>
        </div>
        <div id="properties_{{ device.Id }}" class="panel-collapse collapse ">
          <h5>Properties</h5>
          <div class="panel-body">
              <table class="table table-condensed table-bordered">
                  <thead>
                  <tr><th>Id</th>
                      <th>Type</th>
                      <th>Key</th>
                      <th>Value</th>
                      <th>Configurable</th>
                      <th>State</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% for prop in device.Property %}
                    <tr><td>{{ prop.Id }}</td>
                        <td>{{ prop.Type }}</td>
                        <td>{{ prop.Key }}</td>
                        <td>{{ prop.Value }}</td>
                        <td>{{ prop.IsUserConfigurable }}</td>
                        <td>{{ prop.State }}</td>
                   {% endfor %}
                  </tbody>

              </table>
               <form class="form-inline" action="/api/dr_browser" method="post">
                  <div class="form-group" placeholder="Type">
                      <select name = "config_type"  class="form-control">
                          <option value="config">Configuration</option>
                          <option value="assoc">Association</option>
                      </select>
                  </div>
                  <div class="form-group">
                          <input  name ="config_name" type="text" class="form-control" placeholder="Config or group id" >
                  </div>
                  <div class="form-group">
                          <input name ="config_value" type="text" class="form-control" placeholder="Value" >
                          <input name ="config_topic" type="hidden" value="/dev/{{ device.CommunicationTechnology }}/{{ device.Address }}/dev_sys/1/commands" >
{#                          <input name ="action" type="hidden" value="config_set" >#}
                          <input name ="device_id" type="hidden" value="{{ device.Id }}" >
                  </div>
                          <button class="btn btn-default"  type="submit" name="action" value="config_set">Set</button>
                          <button class="btn btn-default"  type="submit" name="action" value="config_get">Get</button>
              </form>
          </div>

        </div>
        <div id="collapseLocation" class="panel-collapse collapse">
          <div class="panel-body">
              Location
          </div>
        </div>
        <div id="properties_{{ device.Id }}" class="panel-collapse collapse">
          <div class="panel-body">
            <h5>List of Properties</h5>
          </div>
        </div>
     </td> </tr>

   {% endfor %}
{% endif %}
  <tbody>
</table>
{% else %}
<h4>Device registry is not responding . Please check if device registry process is up and running and try again</h4>
{% endif %}
</div>

{#Modal dialog #}
<div class="modal fade" id="dr_field_update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Device registry field update</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="/api/dr_browser" method="POST">
              <input type="hidden" name="action" value="field_update" />
              <input type="hidden" id = "field_name" name="field_name" value="" />
              <input type="hidden" id = "device_id" name="device_id" value="" />
              <div class="form-group">
                <label id ="field_name_label" for="inputName" class="col-sm-3 control-label">Filed</label>
                <div class="col-sm-6">
                  <input type="text" name="field_value" class="form-control" id="field_value" placeholder="" value="">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "normal"
    </script>
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/ui_elements_handler.js"></script>
    <script src="/static/js/dr_device_browser.js"></script>

{% endblock %}
