{#{% extends "blackflow/base_layout_blackflow.html" %}#}
{% extends "base_layout.html" %}
{% block li_dr_registry %}class="active"{% endblock %}
{% block css_scripts %}
<link rel="stylesheet" href="{{ global_context.root_uri }}/static/css/custom_icons.css">
<link href="{{ global_context.root_uri }}/static/visjs/dist/vis.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #app_instances_graph_div {
            width: 80vw;
            height: 80vh;
            border: 1px solid lightgray;
        }
    </style>
{% endblock %}
{% block body %}
</h1>
<h3>Application instances graph </h3>
<div  class="container-fluid">
    <div  id="app_instances_graph_div">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="nodeInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Instance info</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">Instance name:</div>
          <div class="col-md-6" id = "mod_inst_name"></div>
        </div>
        <div class="row">
          <div class="col-md-3">App fuull name:</div>
          <div class="col-md-6" id = "mod_app_full_name"></div>
        </div>
        <div class="row">
          <div class="col-md-3">Container:</div>
          <div class="col-md-6" id = "mod_container"></div>
        </div>
        <div class="row">
          <div class="col-md-3">Comments:</div>
          <div class="col-md-6" id = "mod_comments"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" onclick="openInstanceConfig()">Configure instance</button>
        <button type="button" class="btn btn-default" onclick="openAppConfig()">Modify app</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js_scripts %}
    <script>
      var bf_inst_name = "{{ bf_inst_name }}"

    </script>
    <script src="{{ global_context.root_uri }}/static/js/stupidtable.min.js"></script>
    <script src="{{ global_context.root_uri }}/static/visjs/dist/vis.js"></script>
    <script src="{{ global_context.root_uri }}/static/js/blackflow/app_instances_graph.js"></script>
{% endblock %}
