{% extends "blackflow/base_layout_blackflow.html" %}
{% block li_dr_registry %}class="active"{% endblock %}
{% block css_scripts %}

<link rel="stylesheet" href="/static/css/custom_icons.css">
  <style type="text/css" media="screen">
    #editor {
        position: relative;
        height: 80vh;
    }
</style>
<script src="/static/js/angular.min.js"></script>
{% endblock %}
{% block body %}
<h3>App code editor</h3>
<div ng-controller="AppEditorController">
    <div id="editor">

    </div>
  <button type="button" ng-click ="save()" class="btn btn-default" >Save</button>
  <button type="button" ng-click ="reload()" class="btn btn-default" >Restart app</button>
</div>

{% endblock %}
{% block js_scripts %}
<script src="/static/js/angular-base64.js"></script>
<script src="/static/js/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/blackflow/app_editor.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/utils.js" type="text/javascript" charset="utf-8"></script>
<script>
  var app_name = "{{ app_name }}"
  var bf_inst_name = "{{ inst_name }}"
</script>
{% endblock %}
