{#{% extends "blackflow/base_layout_blackflow.html" %}#}
{% extends "base_layout.html" %}
{% block li_dr_registry %}class="active"{% endblock %}
{% block css_scripts %}
<link rel="stylesheet" href="{{ global_context.root_uri }}/static/css/custom_icons.css">
<link href="{{ global_context.root_uri }}/static/visjs/dist/vis.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #app_instances_graph_div {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>
<script src="{{ global_context.root_uri }}/static/js/angular.min.js"></script>
{% endblock %}
{% block body %}
</h1>
<h3>Discovered resources</h3>
<div ng-app="AppStore" class="container-fluid">
 <div class="btn-group">
  <button type="button" class="btn btn-default" onclick="location.href='/blackflow/ui/discovery?rediscover=true'">Rediscover</button>
</div>

<table class="table table-bordered table-striped table-hover">
   <thead>
      <tr>
        <th><h6>Type</h6></th>
        <th><h6>Name</h6></th>
        <th><h6>Uri</h6></th>
        <th><h6>Sdk</h6></th>
        <th><h6>Ip</h6></th>
        <th><h6>Container id</h6></th>
      </tr>
   </thead>
   <tbody>
 {%  for cont in containers %}
    <tr>
        <td >{{ cont.type }}</td>
        <td >{{ cont.name }}</td>
        <td >{{ cont.uri }}</td>
        <td >{{ cont.sdk }}</td>
        <td >{{ cont.ip }}</td>
        <td >{{ cont.props.container_id }}</td>
    </tr>
 {% endfor %}
  <tbody>
</table>


{#Modal dialog #}

</div>
{% endblock %}
{% block js_scripts %}
    <script>
      var bf_inst_name = "{{ bf_inst_name }}"
      var app_store_api = "{{ global_context.app_store_api_url }}"
    </script>
    <script src="{{ global_context.root_uri }}/static/js/stupidtable.min.js"></script>
     <script src="{{ global_context.root_uri }}/static/js/utils.js" type="text/javascript" charset="utf-8"></script>
{#    <script src="{{ global_context.root_uri }}/static/js/blackflow/app_store.js"></script>#}
{% endblock %}
