{#{% extends "blackflow/base_layout_blackflow.html" %}#}
{% extends "base_layout.html" %}
{% block li_dr_registry %}class="active"{% endblock %}
{% block css_scripts %}
<link rel="stylesheet" href="{{ global_context.root_uri }}/static/css/custom_icons.css">
{% endblock %}
{% block body %}
</h1>
<h3>Blackflow application context viewer</h3>
<div class="container-fluid">
{% if bf_response %}
<table class="table table-bordered table-striped table-hover">
   <thead>
      <tr>
        <th><h6>Container</h6></th>
        <th><h6>Var name</h6></th>
        <th><h6>Value</h6></th>
        <th><h6>Updated by</h6></th>
        <th style="width:160px"><h6>Updated at</h6></th>
        <th style="width:100px"><h6>Persisted</h6></th>

      </tr>
   </thead>
   <tbody>
   {%  for container_id,vars in bf_response.iteritems() %}
       {%  for key,var in vars.iteritems() %}
        <tr>
            <td >{{ container_id }}</td>
            <td >{{ key }}</td>
            <td>{{ var.value }}</td>
            <td>{{ var.src_type }}.{{ var.src_name }}</td>
            <td><small>{{ format_time(var.timestamp) }}</small></td>
            <td>{{ var.persisted }}</td>
        </tr>
       {% endfor %}
   {% endfor %}

  <tbody>
</table>

{% else %}
<h4>Device registry is not responding . Please check if device registry process is up and running and try again</h4>
{% endif %}
</div>


{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "normal"
    </script>
    <script src="{{ global_context.root_uri }}/static/js/stupidtable.min.js"></script>
{#    <script src="/static/js/dr_device_browser.js"></script>#}

{% endblock %}
