<div id="{{ item.key }}">
   <div class="input-group">
      <input id="prop_key" type="text"  class="form-control" placeholder="Name">
      <select id="prop_size" class="form-control" >
        <option value="">auto</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
      </select>
      <input id="prop_int_value" type="number"  class="form-control" placeholder="Value">
      <span class="input-group-btn">
         <button class="btn btn-default"  onclick="send_command({{ item.id }},'{{ item.key }}','msg_class_ui',''); return false" type="button">Set</button>
      </span>
   </div>
</div>
