{% extends "base_layout.html" %}
{% block li_address_mapping %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Service configurator</h3>
<div class="container-fluid">

<form class="form-horizontal" role="form" action="/api/address_manager" method="POST">
  <input type="hidden" name="action" value="update_address_mapping"/>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" id="inputName" placeholder="" value="{{ mapping.name }}">
    </div>
  </div>


  <div class="form-group">
    <label for="inputMsgClass" class="col-sm-2 control-label">Msg class</label>
    <div class="col-sm-10">
       <select name="msg_class" id="inputMsgClass" class="form-control">
         {% for item in msg_class_list|sort(attribute='msg_class') %}
            <option {% if item.msg_class == mapping.msg_class and item.msg_type == mapping.msg_type %}selected="selected" {% endif %} value="{{ item.msg_type }}->{{ item.msg_class }}" >{{ item.msg_type }} -> {{ item.msg_class }}</option>
         {% endfor %}
      </select>

    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" name="address" class="form-control" id="inputAddress"  value="{{ mapping.address }}">
      <input type="hidden" name="key" class="form-control" id="inputKey"  value="{{ mapping.key }}">
      <input type="hidden" name="id" class="form-control" id="inputKey"  value="{{ mapping.id }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Record history</label>
    <div class="col-sm-10">
      <select name="record_history" id="inputType" class="form-control">
           <option {% if mapping.record_history == False %}selected="selected"{% endif %} >False</option>
           <option {% if mapping.record_history == True %}selected="selected"{% endif %} >True</option>

      </select>
    </div>
  </div>
  <div class="form-group">
        <label for="inputType" class="col-sm-2 control-label">Transport</label>
        <div class="col-sm-10">
          <select name="transport" id="inputType" class="form-control">
               <option {% if mapping.transport == "" %}selected="selected"{% endif %} value="" >None</option>
               <option {% if mapping.transport == "AES-128" %}selected="selected"{% endif %} value="AES-128" >AES-128</option>
               <option {% if mapping.transport == "crc16" %}selected="selected"{% endif %} value="crc16" >CRC-16</option>
          </select>
        </div>
  </div>
{% for item in msg_class_list %}
    {% if item.msg_class == mapping.msg_class and item.msg_type == mapping.msg_type and item.ui_mapping.override_properties %}
      <div class="form-group">
        <label for="inputProperties" class="col-sm-2 control-label">Override properties</label>
        <div class="col-sm-10">
          <textarea  name="override_properties" class="form-control" id="inputProperties"  >{%if mapping.override_properties %} {{ mapping.override_properties|tojson() }} {% endif %} </textarea>
        </div>
      </div>

       <div class="form-group">
        <label for="inputOverrideValuePath" class="col-sm-2 control-label">Override value path</label>
        <div class="col-sm-10">
          <input type="text" name="override_value_path" class="form-control" id="inputOverrideValuePath"  value="{{ mapping.override_value_path}}">
        </div>
       </div>
    {% endif %}
{% endfor %}
  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save changes</button>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>


</div>


{{ msg_template }}

</pre>
{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/msg_class.js"></script>
    <script src="/static/js/utils.js"></script>

{% endblock %}
