{% extends "base_layout.html" %}
{% block li_address_mapping %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Service configurator </h3>
<div class="btn-group">
  <button type="button" onclick="window.location.href='/ui/address_map/0'" class="btn btn-default">Add new service</button>
  <button type="button" class="btn btn-default" onclick="open_bulk_address_update()">Bulk address update</button>
  <button type="button" class="btn btn-default"onclick="open_bulk_address_delete()" >Bulk delete</button>
</div>
<br/>
<br/>

<div class="container-fluid">

<div class="table-responsive">
 <table id="addr_map_table" class="table table-striped">
     <thead>
                    <tr>
                      <th>Id</th>
                      <th>name</th>
                      <th  data-sort="string">msg class (↑↓)</th>
                      <th  data-sort="string">type (↑↓)</th>
                      <th  data-sort="string">address (↑↓)</th>
                      <th  >record history</th>
                      <th>action</th>
                    </tr>
     </thead>
     <tbody>
     {% for item in mapping|sort(attribute="address",reverse=True) %}
      <tr>
       <td> {{ item.id }}</td>
       <td> {{ item.name }}  </td>
       <td> {{ item.msg_class }} </td>
       <td> {{ item.msg_type }} </td>
       <td > {{ item.address }} </td>
       <td > {{ item.record_history }} </td>
       <td> <a onclick="location.href='/ui/address_map/{{ item.key }}'">edit</a>   |   <a href="#" onclick="remove_address('{{ item.id }}')" >delete</a>   </td>

      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>
{#Modal dialog #}
<div class="modal fade" id="bulk_address_update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bulk address update</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="/api/address_manager" method="POST">
              <input type="hidden" name="action" value="bulk_address_update" />
              <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">Find</label>
                <div class="col-sm-6">
                  <input type="text" name="find" class="form-control" id="inputName" placeholder="" value="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputAddress" class="col-sm-3 control-label">Replace to</label>
                <div class="col-sm-6">
                  <input type="text" name="replace_to" class="form-control" id="inputAddress"  value="">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

{#Modal dialog #}
<div class="modal fade" id="bulk_address_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bulk address delete</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="/api/address_manager" method="POST">
              <input type="hidden" name="action" value="bulk_address_delete" />
              <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">Address or part of address</label>
                <div class="col-sm-6">
                  <input type="text" name="find" class="form-control" id="inputName" placeholder="" value="">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/address_mapping.js"></script>

{% endblock %}
