{% extends "base_layout.html" %}
{% block li_address_mapping %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Address to message class bindings ( <a href="/ui/address_map/0">add</a>)</h3>
<div class="container-fluid">

<div class="table-responsive">
 <table id="addr_map_table" class="table table-striped">
     <thead>
                    <tr>
                      <th>Id</th>
                      <th>name</th>
                      <th  data-sort="string">msg class (↑↓)</th>
                      <th  data-sort="string">type (↑↓)</th>
                      <th  data-sort="string">address (↑↓)</th>
                      <th>action</th>
                    </tr>
     </thead>
     <tbody>
     {% for item in mapping|sort(attribute="address",reverse=True) %}
      <tr>
       <td> {{ item.id }}</td>
       <td> {{ item.name }}  </td>
       <td> {{ item.msg_class }} </td>
       <td> {{ item.msg_type }} </td>
       <td > {{ item.address }} </td>
       <td> <a onclick="location.href='/ui/address_map/{{ item.key }}'">edit</a>   |   <a href="#" onclick="remove_address('{{ item.address }}','{{ item.msg_class }}')" >delete</a>   </td>

      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>
{#Modal dialog #}
<div class="modal fade" id="free_text_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Extracted data</h4>
      </div>
      <div id = "free_text_placeholder" class="modal-body">
        <pre>...</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/address_mapping.js"></script>

{% endblock %}
