{% extends "base_layout.html" %}
{% block li_address_mapping %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Alerts </h3>
<div class="btn-group">
  <button type="button" class="btn btn-default"onclick="open_bulk_address_delete()" >Delete all</button>
</div>
<br/>
<br/>

<div class="container-fluid">

<div class="table-responsive">
 <table id="addr_map_table" class="table table-striped">
     <thead>
                    <tr>
                      <th>Id</th>
                      <th>Time</th>
                      <th data-sort="string">Severity level (↑↓)</th>
                      <th data-sort="string">Tag (↑↓)</th>
                      <th data-sort="string">Msg Type (↑↓)</th>
                      <th data-sort="string">Address (↑↓)</th>
                      <th data-sort="string">Value (↑↓)</th>
                      <th>Details</th>
                    </tr>
     </thead>
     <tbody>
     {% for item in mapping %}
      <tr>
       <td> {{ item.id }}</td>
       <td> {{ item.time }}  </td>
       <td> {{ item.severity_level }}  </td>
       <td> {{ item.tag }}  </td>
       <td> {{ item.type }} </td>
       <td> {{ item.address }} </td>
       <td > {{ item.value }} </td>
       <td > {{ item.details }} </td>
      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>

{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/address_mapping.js"></script>

{% endblock %}
