{% extends "base_layout_wide.html" %}
{% block css_scripts %}
 <link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
<style >
.movable { min-height: 120px;min-width: 220px}
.movable_div { min-height: 120px}
</style>
{% endblock %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}

<div class="btn-group">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add_service_modal">Add</button>
  <button type="button" class="btn btn-default" onclick="open_bulk_address_update()">Add group</button>
</div>
<br/>
<br/>
<div class="container-fluid">

<div class="table-responsive">

<div class="panel panel-success">
  <div class="panel-heading">
      <h3 class="panel-title">Default</h3>
  </div>
  <div class="panel-body">
{% for row in range(1,(grid_size.row + 1)) %}
     <div class="row">
    {% for col in range(1,(grid_size.col + 1)) %}
           {% set not_empty = [] %}
           {% for item in mapping %}
                {%  if item.dash_grid_map.row == row and item.dash_grid_map.col == col %}
                <div class="col-sm-4 col-md-4 col-lg-3 movable" draggable="true">
                    <div id = "panel_{{ item.id }}_{{ row }}_{{ col }}"  class="panel panel-default movable_div">
                      <div class="panel-heading">
                         <a href="#"> <span class="pull-right glyphicon glyphicon-trash"></span></a>
                         <a href="#"> <span class="pull-right glyphicon glyphicon-stats"></span></a>
                         <h3 class="panel-title">  {{ item.name }}</h3>
                      </div>
                      <div class="panel-body">
                        {% include 'msg_ui_element.html' %}
                      </div>
                    </div>
                </div>
                {% if not_empty.append(True) %}{% endif %}

                {% endif %}

           {% endfor %}
                {% if not_empty|length==0 %}
                 <div class="col-sm-4 col-md-4 col-lg-3 movable" draggable="true">
                    <div id = "panel_null_{{ row }}_{{ col }}"  class="panel panel-default movable_div">
                      <div class="panel-body">

                      </div>
                    </div>
                </div>
                {% endif %}


     {% endfor %}
     </div>
{% endfor %}

  </div>
</div>

</div>
</div>
{#Modal dialog #}

{#Modal dialog #}
<div class="modal fade" id="add_service_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add service</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="/api/dashboard" method="POST">
              <input type="hidden" name="action" value="add_service_to_dashboard" />
              <input type="hidden" name="group_id" value="default" />
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Service</label>
                <div class="col-sm-6">
                   <select name="service_id" id="inputMsgClass" class="form-control">
                     {% for item in address_list|sort(attribute='name') %}
                        <option value="{{ item.id }}" >{{ item.name }} -> {{ item.address }}</option>
                     {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">X Position</label>
                <div class="col-sm-6">
                  <input type="text" name="position_col" class="form-control" id="inputName" placeholder="" value="auto">
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Y Position</label>
                <div class="col-sm-6">
                  <input type="text" name="position_row" class="form-control" id="inputName" placeholder="" value="auto">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "normal"
    </script>
    <script src="/static/js/bootstrap-slider.min.js"></script>
    <script src="/static/js/ui_elements_handler.js"></script>

    <script src="/static/js/dashboard.js"></script>

{% endblock %}
