{% extends "base_layout_wide.html" %}
{% block css_scripts %}
 <link href="{{ global_context.root_uri }}/static/css/bootstrap-slider.min.css" rel="stylesheet">
<style >
.movable { min-height: 120px;min-width: 220px}
.movable_div { min-height: 120px}
</style>
{% endblock %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}

<div class="btn-group">
  <button type="button" class="btn btn-default" onclick="open_update_group_dialog(-1)">Add group</button>
</div>
<br/>
<br/>
<div class="container-fluid">

<div class="table-responsive">
{% for group in groups|sort(attribute="id") %}

<div class="panel panel-success">
  <div class="panel-heading">

      <a href="javascript:open_update_group_dialog({{ group.id }},'{{ group.name }}',{{ group.x_size }},{{ group.y_size }})"> <span class="pull-right glyphicon glyphicon-cog"></span></a>
      <a href="javascript:open_add_service_dialog({{ group.id }})"> <span class="pull-right glyphicon glyphicon-plus">&nbsp;</span></a>
      <h3 class="panel-title">{{ group.name }}</h3>
  </div>
  <div class="panel-body">
    {% for y in range(1,(group.y_size + 1)) %}
         <div class="row">
        {% for x in range(1,(group.x_size + 1)) %}
               {% set not_empty = [] %}
               {% for item in mapping %}
                    {%  if item.dash_grid_map.y == y and item.dash_grid_map.x == x and item.dash_grid_map.group==group.id %}
                    <div class="col-sm-4 col-md-4 col-lg-3 movable" draggable="true">
                        <div id = "panel_{{ group.id}}_{{ item.id }}_{{ x }}_{{ y }}"  class="panel panel-default movable_div">
                          <div class="panel-heading">

                             <a href="javascript:open_update_service_dialog({{ group.id}},{{ item.id }},'{% if item.dash_grid_map.service_name %} {{ item.dash_grid_map.service_name }}  {% else %} {{ item.name }} {% endif %}')"> <span class="pull-right glyphicon glyphicon-cog"></span></a>
                              <a href="{{ global_context.root_uri }}/ui/timeseries/chart/{{ item.id }}"> <span class="pull-right glyphicon glyphicon-stats">&nbsp;</span></a>
                              <a href="{{ global_context.root_uri }}/ui/timeseries/table/{{ item.id }}/0/2004836694"> <span class="pull-right glyphicon glyphicon-th-list">&nbsp;</span></a>

                             <h3 class="panel-title"> {% if item.dash_grid_map.service_name %} {{ item.dash_grid_map.service_name }}  {% else %} {{ item.name }} {% endif %} </h3>
                          </div>
                          <div class="panel-body">
                            {% include 'msg_ui_element.html' %}
                          </div>
                        </div>
                    </div>
                    {% if not_empty.append(True) %}{% endif %}

                    {% endif %}

               {% endfor %}
                    {% if not_empty|length==0 %}
                     <div class="x-sm-4 col-md-4 col-lg-3 movable" draggable="true">
                        <div id = "panel_{{ group.id }}_null_{{ x }}_{{ y }}"  class="panel panel-default movable_div">
                          <div class="panel-body">

                          </div>
                        </div>
                    </div>
                    {% endif %}


         {% endfor %}
         </div>
    {% endfor %}

  </div>
</div>

{% endfor %}
</div>
</div>
{#Modal dialog #}

{#Add service modal dialog #}
<div class="modal fade" id="add_service_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add service</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="{{ global_context.root_uri }}/api/dashboard" method="POST">
              <input type="hidden" name="action" value="add_service_to_dashboard" />
              <input type="hidden" name="group_id" value="0" id="service_modal_group_id" />
              <input type="hidden" name="dashboard_id" value="{{ dashboard_id }}" />
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Service</label>
                <div class="col-sm-6">
                   <select name="service_id" id="inputMsgClass" class="form-control">
                     {% for item in address_list|sort(attribute='name') %}
                        <option value="{{ item.id }}" >{{ item.name }} -> {{ item.address }}</option>
                     {% endfor %}
                  </select>
                </div>
              </div>
             <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Service name</label>
                <div class="col-sm-6">
                  <input type="text" name="service_name" class="form-control" id="inputName" placeholder="" value="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">X Position</label>
                <div class="col-sm-6">
                  <input type="text" name="position_x" class="form-control" id="inputName" placeholder="" value="auto">
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Y Position</label>
                <div class="col-sm-6">
                  <input type="text" name="position_y" class="form-control" id="inputName" placeholder="" value="auto">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

{# Modify service modal #}
<div class="modal fade" id="update_service_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Service configurator</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="{{ global_context.root_uri }}/api/dashboard" method="POST">

              <div class="form-group">
                <label for="serviceName" class="col-sm-4 control-label">Service name</label>
                <div class="col-sm-6">
                  <input type="text" name="service_name" class="form-control" id="service_name" placeholder="" value="">
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="update_service()" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="delete_service_from_dashboard()" >Delete</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

{# group editor modal dialog #}
<div class="modal fade" id="update_group_modal" tabindex="-1" role="dialog" aria-labelledby="groups_configurator_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="groups_configurator_label">Group configurator</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="{{ global_context.root_uri }}/api/dashboard" method="POST">
              <input type="hidden" name="action" value="update_group" />
              <input type="hidden" name="group_id" id="group_id" value="-1" />
              <input type="hidden" name="dashboard_id" value="{{ dashboard_id }}" />

             <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Group name</label>
                <div class="col-sm-6">
                  <input type="text" name="group_name" class="form-control" id="group_name" placeholder="" value="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">X size (elements)</label>
                <div class="col-sm-6">
                  <input type="text" name="group_x_size" class="form-control" id="group_x_size" placeholder="" value="2">
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Y size (elements)</label>
                <div class="col-sm-6">
                  <input type="text" name="group_y_size" class="form-control" id="group_y_size" placeholder="" value="2">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="delete_group_from_dashboard()" >Delete</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "normal"
      var dashboard_id = "{{ dashboard_id }}"
    </script>
    <script src="{{ global_context.root_uri }}/static/js/bootstrap-slider.min.js"></script>
    <script src="{{ global_context.root_uri }}/static/js/ui_elements_handler.js"></script>

    <script src="{{ global_context.root_uri }}/static/js/dashboard.js"></script>

{% endblock %}
