{% extends "base_layout.html" %}
{% block li_dr_registry %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Device registry explorer </h3>
<div class="container-fluid">
{% if dr_response %}
<table class="table table-bordered table-striped table-hover">
   <thead>
      <tr>
        <th><h6>Id</h6></th>
        <th><h6>Integr. Id</h6></th>
        <th><h6>Address</h6></th>
        <th><h6>Serial Number</h6></th>
        <th><h6>Name</h6></th>
        <th><h6>Alias</h6></th>
        <th><h6>Components</h6></th>
        <th><h6>Comm Tech</h6></th>
        <th><h6>Manufacturer</h6></th>
        <th><h6>Hw Ver.</h6></th>
        <th><h6>Sw Ver.</h6></th>
        <th><h6>Protocol Ver</h6></th>
        <th><h6>Product Id</h6></th>
        <th><h6>Product Type Id</h6></th>
        <th><h6>Hash code</h6></th>
        <th><h6>Status</h6></th>
        <th><h6>Last Error Msg</h6></th>
        <th style="min-width: 80px"><h6>First Use Date</h6></th>
        <th style="min-width: 80px"><h6>Last Update</h6></th>
        <th><h6>Security Level</h6></th>
        <th><h6>Power desc.</h6></th>
        <th><h6>Action</h6></th>
      </tr>
   </thead>
   <tbody>
   {% if dr_response.event.properties.device_list.value %}
   {%  for device in dr_response.event.properties.device_list.value %}
       <tr>
        <td rowspan="2" >{{ device.Id }}</td>
        <td>{{ device.IntegrationId }}</td>
        <td>{{ device.Address }}</td>
        <td>{{ device.SerialNumber }}</td>
        <td>{{ device.Name }}</td>
        <td> {% if device.Alias %} <a href="javascript:open_update_dr_field_modal({{ device.Id }},'Alias','{{ device.Alias }}')">{{ device.Alias }}</a>
        {% else %} <a href="javascript:open_update_dr_field_modal({{ device.Id }},'Alias','{{ device.Alias }}')"> <span class="pull-right glyphicon glyphicon-pencil">&nbsp;</span> </a> {% endif %}</td>
        <td>
            <a data-toggle="collapse" href="#endpoints_{{ device.Id }}">Services</a>
            <a data-toggle="collapse" href="#properties_{{ device.Id }}">Properties</a></td>
        <td>{{ device.CommunicationTechnology }}</td>
        <td>{{ device.Manufacturer }}</td>
        <td>{{ device.HardwareVersion }}</td>
        <td>{{ device.SoftwareVersion }}</td>
        <td>{{ device.ProtocolVersion }}</td>
        <td>{{ device.ProductId }}</td>
        <td>{{ device.ProductTypeId }}</td>
        <td><small>{{ device.HashCode }}</small></td>
        <td>{{ device.Status }}</td>
        <td>{{ device.LastErrorMsg }}</td>
        <td><small>{{ device.FirstUseDate|replace("T"," ") }}</small></td>
        <td><small>{{ device.LastUpdate|replace("T"," ") }}</small></td>
        <td>{{ device.SecurityLevel }}</td>
        <td>{{ device.PowerDescriptor }}</td>

        <td style="min-width: 100px">
            <a href="/ui/inter_console?filter=/dev/{{ device.CommunicationTechnology }}/{{ device.Address }}&mode=normal">Interact</a>
            <p><a href="javascript:send_command('devicereg.delete@.app.devicereg.commands','',{{ device.Id }} );setTimeout(function(){location.reload()},500) ;">Delete</a></p>
            <p><a target="_blank" href="{{ configs.smartly.sdc_uri }}/live/SDC/GetDeviceList?HashCode={{ device.HashCode }}">SDC lookup</a></p>
        </td>
      </tr>
     <tr>
         <td colspan="18" >

        <div id="endpoints_{{ device.Id }}" class="panel-collapse collapse ">
          <h5>List of Endpoints</h5>
          <div class="panel-body">
              <table class="table table-condensed table-bordered">
                  <thead>
                  <tr><th>Id</th>
                      <th>Type</th>
                      <th>Uri</th>
                      <th>Capabilities</th>

                      <th>Property</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% for endp in device.EndPoint %}
                    <tr><td>{{ endp.Id }}</td>
                        <td>{{ endp.Type }}</td>
                        <td><a href="/ui/inter_console?filter={{ endp.Uri }}&mode=normal">{{ endp.Uri }}</a></td>
                        <td>{{ endp.Capabilities }}</td>
                        <td>{{ endp.Property }}</td></tr>
                   {% endfor %}
                  </tbody>

              </table>
          </div>
        </div>
        <div id="properties_{{ device.Id }}" class="panel-collapse collapse ">
          <h5>List of Properties</h5>
          <div class="panel-body">
              <table class="table table-condensed table-bordered">
                  <thead>
                  <tr><th>Id</th>
                      <th>Type</th>
                      <th>Key</th>
                      <th>Value</th>
                      <th>Configurable</th>
                      <th>State</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% for prop in device.Property %}
                    <tr><td>{{ prop.Id }}</td>
                        <td>{{ prop.Type }}</td>
                        <td>{{ prop.Key }}</td>
                        <td>{{ prop.Value }}</td>
                        <td>{{ prop.IsUserConfigurable }}</td>
                        <td>{{ prop.State }}</td>
                   {% endfor %}
                  </tbody>

              </table>
          </div>
        </div>
        <div id="collapseLocation" class="panel-collapse collapse">
          <div class="panel-body">
              Location
          </div>
        </div>
        <div id="properties_{{ device.Id }}" class="panel-collapse collapse">
          <div class="panel-body">
            <h5>List of Properties</h5>
          </div>
        </div>
     </td> </tr>

   {% endfor %}
{% endif %}
  <tbody>
</table>
{% else %}
<h4>Device registry is not responding . Please check if device registry process is up and running and try again</h4>
{% endif %}
</div>

{#Modal dialog #}
<div class="modal fade" id="dr_field_update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Device registry field update</h4>
      </div>
      <br/>
      <div >
            <form class="form-horizontal" role="form" action="/ui/dr_browser" method="POST">
              <input type="hidden" name="action" value="field_update" />
              <input type="hidden" id = "field_name" name="field_name" value="" />
              <input type="hidden" id = "device_id" name="device_id" value="" />
              <div class="form-group">
                <label id ="field_name_label" for="inputName" class="col-sm-3 control-label">Filed</label>
                <div class="col-sm-6">
                  <input type="text" name="field_value" class="form-control" id="field_value" placeholder="" value="">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "normal"
    </script>
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/ui_elements_handler.js"></script>
    <script src="/static/js/dr_device_browser.js"></script>

{% endblock %}
