{% extends "base_layout.html" %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Device registry browser</h3>
<div class="container-fluid">

<table class="table table-bordered">
  <thead>
    {% for key,value in dr_response.iteritems() %}
    {% if loop.first %}
     <tr>
        <th>{{ key }}</th>
    </tr>
    {% endif %}
    <tr>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
  </thead>
</table>

</div>


{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>


{% endblock %}
