{% extends "base_layout.html" %}
{% block li_msg_types %}{% endblock %}
{% block body %}
</h1>
<h3>Message class configuration</h3>
<div class="container-fluid">

<h4>UI element :msg_class_ui</h4>
The ui element uses special template for rendering the of element. Special templates are in templates/msg_class_ui folder and each template name corresponds to
msg_class element .
<pre>
 {
  "ui_mapping": {
   "ui_element": "msg_class_ui",
   "num_type": "int",
   "device_id_num_input_path": "$.command.properties.devices.value[0]",
   "group_id_num_input_path":"$.command.properties.group.value",
   "override_properties": true
  },
  "msg_type": "command",
  "msg_class": "association.set"
 }
</pre>
 The corresponding template should have input elements with id group_id_num_input and device_id_num_input

</div>

<a href="main" >Main</a>
{% endblock %}
{% block js_scripts %}


{% endblock %}
