{% extends "base_layout.html" %}
{% block body %}
{#<h3>Welcome to Blackfly IOT toolkit.</h3>#}

<div class="panel panel-default">
        <div class="panel-heading ">Component interconnection diagram</div>
        <div class="panel-body">
        <img class="img-responsive" src="{{ global_context.root_uri }}/static/img/bf_conn_diagram.png"/>
     </div>
    </div>

<div class="panel panel-default">
 <div class="panel-heading"> System health check </div>
 <table id="addr_map_table" class="table table-striped">
     <thead>
                    <tr>
                      <th>Check description</th>
                      <th>Link status</th>
                    </tr>
     </thead>
     <tbody>
      <tr>
       <td> Blackfly <-> MQTT broker connection </td>
       <td>{% if global_context.mqtt_conn_status == "online" %}<b style="color: #75c841;font-size: large" class="glyphicon glyphicon-thumbs-up"></b>
        {% else %} <b  style="color: red" class="glyphicon glyphicon-warning-sign"></b> {% endif %}</td>
      </tr>

     </tbody>

 </table>
</div>



</div>

{% endblock %}