{% extends "base_layout.html" %}
{% block css_scripts %}
    <link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
{% endblock %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Interactive console  <a href="inter_console?mode=normal" class="btn btn-default btn {% if mode == "normal" %} active {% endif %} " >Normal mode</a>  <a href="inter_console?mode=sim" class="btn btn-default btn {% if mode == "sim" %} active {% endif %}" >Simulation mode</a>  </h3>
<br/>

<div class="container-fluid">
<div class="row">
 <div class="col-sm-10 col-md-10 col-lg-10">
    <form class="form-inline" role="form" method="get" action="inter_console" enctype="text/plain" >
      <div class="form-group">
        <input type="text" class="form-control" size="50" id="filter_field" name="filter" value="{{ filter_value }}" placeholder="address"/>
        <input type="hidden" name="mode" value="{{ mode }}"/>
      </div>
       <button type="submit" class="btn btn-default">Filter</button>
       <button class="btn btn-default" type="button" data-toggle="modal" data-target="#save_filter_modal">Save filter</button>
       <button class="btn btn-default" type="button" data-toggle="modal" data-target="#filter_help_modal">Help me</button>
    </form>
 </div>
</div>
</br>
<div class="row">

        <!-- Split button -->
 <div class="col-sm-10 col-md-10 col-lg-10">

        {% for filter in saved_filters  %}
               <form class="form-inline" role="form" method="get" action="inter_console" enctype="text/plain" style="display: inline" >
                <div class="btn-group" >
                  <button type="submit" class="btn btn-default ">{{ filter.name }}</button>
                  <input type="hidden" name = "filter" value="{{ filter.filter }}"/>
                  <input type="hidden" name = "id" value="{{ filter.id }}"/>
                  <input type="hidden" name="mode" value="{{ mode }}"/>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
        {#            <li><a href="#">Edit</a></li>#}
                    <li><a href="/api/filters?action=delete&id={{ filter.id }}">Delete</a></li>
                  </ul>
                </div>
                </form>
        {% endfor %}
 </div>

</div>
</br>
<div class="table-responsive">
 <table id = "inter_console_table" class="table table-striped">
     <thead>
                    <tr>
                      <th>Name</th>
                      <th data-sort="string">msg class (↑↓)</th>
                      <th data-sort="string">type (↑↓)</th>
                      <th data-sort="string">address (↑↓)</th>
                    {% if mode == "normal" %}  <th data-sort="date" data-sort-value="">last msg</th>{% endif %}
                      <th style="width:120px">action</th>

                    </tr>
     </thead>
     <tbody>
     {% for item in mapping |sort(attribute="address",reverse=True) %}
     {% set cache_item = cache.get_by_key(item.key) %}
      <tr>
       <td> {{ item.name }}  </td>
       <td><a onclick="location.href ='/ui/msg_class/{{ item.msg_type }}/{{ item.msg_class }}'">{{ item.msg_class }}</a> </td>
       <td> {{ item.msg_type }} </td>
       <td> <a href="/ui/address_map/{{ item.key }}">{{ item.address }}</a> </td>
       {% if mode == "normal" %} <td  > <div style="min-width: 100px" id="{{ item.key }}_msg_time" style="width: 70px">{{ cache_item.timestamp_iso }}</div> </td>{% endif %}
       <td><div style="width: 60px">
           <a href="../api/get_last_raw_msg/{{item.key}}" target="_blank">Last msg</a>
           <div> <a href="../ui/timeseries/table/{{item.id}}/0/2004836694" target="_self">Log</a> </div>
           <div> <a href="../ui/timeseries/chart/{{item.id}}" target="_self">Chart</a> </div>
           </div>
       </td>
       <td style="width: 200px">
          {% include 'msg_ui_element.html' %}
       </td>

      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>
{#Modal dialog #}
<div class="modal fade" id="free_text_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Extracted data</h4>
      </div>
      <div id = "free_text_placeholder" class="modal-body">
        <pre>...</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{#Save filter dialog #}
<div class="modal fade" id="save_filter_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Save filter as</h4>
      </div>
      <div class="modal-body">

          <form class="form-horizontal" role="form" action="/api/filters" method="POST">
              <input type="hidden" name="action" value="upsert" />
              <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="" value="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputAddress" class="col-sm-3 control-label">Filter</label>
                <div class="col-sm-6">
                  <input type="text" name="filter" class="form-control" id="filter"  value="">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>

      </div>

    </div>
  </div>
</div>

{# Filterin help modal window  #}

<div class="modal fade" id="filter_help_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Filtering help</h4>
      </div>
      <div class="modal-body">
         Filtering field supports regular expression syntax .Here are some examples:
         <p>/dev/zw/6/ - returns all sensors for device numeber 6</p>
         <p> (sen_temp|sen_humidity) - returns all devices which are either sen_temp or sen_humidity </p>
         <p> zw/\d*/(sen_temp|sen_humidity) - returns any zwave devices which has sen_temp or sen_humidity sensors  </p>
         <p> /dev/zw/(35|40|3) - returns all entries for devices nr 35,40,3</p>
         <p> \s*/zw/\d\d/bin_open - returns all zwave devices which has bin_open sensor. \s - any character , \d - any number</p>
         <p><a href="http://www.regular-expressions.info/tutorial.html" target="_blank">More regexp tutorial you can find here. </a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "{{ mode }}"
    </script>
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/bootstrap-slider.min.js"></script>
    <script src="/static/js/ui_elements_handler.js"></script>
    <script src="/static/js/inter_console.js"></script>

{% endblock %}
