{% extends "base_layout.html" %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Interactive console</h3>
<div class="container-fluid">

<div class="table-responsive">
 <table class="table table-striped">
     <thead>
                    <tr>
                      <th>Name</th>
                      <th>msg class</th>
                      <th>address</th>
                      <th>action</th>
                      <th></th>
                    </tr>
     </thead>
     <tbody>
     {% for item in mapping %}
      <tr>
       <td> {{ item.name }}  </td>
       <td> {{ item.msg_class }} </td>
       <td> {{ item.address }}  </td>
       <td> <a href="../api/get_last_raw_msg/{{item.id}}" target="_blank">Open last msg</a></td>
       <td>
          {% set cache_item = cache.get_by_key(item.id) %}
          {% if item.ui_mapping.ui_element=="toggle_switch" %}
               <div id="{{ item.id }}">
                <a id="{{ item.id+"_on" }}"  href="#" onclick="send_command('{{ item.id }}','toggle_button',true)" class="btn btn-default btn" >On</a>
                <a id="{{ item.id+"_off" }}"  href="#" onclick="send_command('{{ item.id }}','toggle_button',false)" class="btn btn-default btn" >Off</a>
               </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="binary_light" %}
             <div id="{{ item.id }}" class="alert alert-success"> </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="free_text" %}
             <div id="{{ item.id }}"></div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="sensor_value" %}
            <div id="{{ item.id }}"> <h3>  <small> </small></h3></div>
          {% endif %}
       </td>

      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>


{% endblock %}
{% block js_scripts %}
    <script src="/static/js/inter_console.js"></script>

{% endblock %}
