{% extends "base_layout.html" %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Interactive console</h3>
<div class="container-fluid">

<div class="table-responsive">
 <table id = "inter_console_table" class="table table-striped">
     <thead>
                    <tr>
                      <th>Name</th>
                      <th data-sort="string">msg class (↑↓)</th>
                      <th data-sort="string">type (↑↓)</th>
                      <th data-sort="string">address (↑↓)</th>
                      <th>action</th>

                    </tr>
     </thead>
     <tbody>
     {% for item in mapping %}
      <tr>
       <td> {{ item.name }}  </td>
       <td><a onclick="location.href ='/ui/msg_class/{{ item.msg_type }}/{{ item.msg_class }}'">{{ item.msg_class }}</a> </td>
      <td> {{ item.msg_type }} </td>
       <td> {{ item.address }}  </td>
       <td> <a href="../api/get_last_raw_msg/{{item.id}}" target="_blank">Open last msg</a></td>
       <td style="width: 200px">
          {% set cache_item = cache.get_by_key(item.id) %}
          {% if item.ui_mapping.ui_element=="toggle_switch" %}
               <div id="{{ item.id }}">
                <a id="{{ item.id+"_on" }}"  href="#" onclick="send_command('{{ item.id }}','toggle_switch',true)" class="btn btn-default btn" >On</a>
                <a id="{{ item.id+"_off" }}"  href="#" onclick="send_command('{{ item.id }}','toggle_switch',false)" class="btn btn-default btn" >Off</a>
               </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="binary_light" %}
             <div id="{{ item.id }}" class="alert alert-success"> </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="free_text" %}
             <div id="{{ item.id }}"> <a class="btn btn-default btn" onclick="open_free_text('{{ item.id }}')" data-toggle="modal" data-target=".bs-example-modal-lg">Show value</a> </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="sensor_value" %}
            <div id="{{ item.id }}"> <h3>  <small> </small></h3></div>
          {% endif %}
           {% if item.ui_mapping.ui_element=="input_num_field" %}
            <div id="{{ item.id }}">
                <div class="input-group">
                  <input id="{{ item.id }}_input" type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default"  onclick="send_command('{{ item.id }}','input_num_field','')" type="button">Set</button>
                  </span>
                </div>


            </div>
          {% endif %}

       </td>

      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>
{#Modal dialog #}
<div class="modal fade" id="free_text_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Extracted data</h4>
      </div>
      <div id = "free_text_placeholder" class="modal-body">
        <pre>...</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>
    <script src="/static/js/inter_console.js"></script>

{% endblock %}
