{% extends "base_layout.html" %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}

</h1>
<h3>Mqtt broker monitoring console</h3>
<br/>
<div class="container-fluid">
<div class="row">

 <div class="col-md-3 "> <h4>Total messages in store</h4>
 <p><small>The number of messages currently held in the message store. This includes retained messages and messages queued for durable clients</small><p>
 <h3>{{ cache["$SYS/broker/messages/stored"].raw_msg }}</h3>
 </div>


 <div class="col-md-3 "> <h4>Total subscriptions</h4>
 <p><small>The total number of subscriptions active on the broker</small><p>
 <h3>{{ cache["$SYS/broker/subscriptions/count"].raw_msg }}</h3>
 </div>

 <div class="col-md-3 "> <h4>Total connected clients</h4>
 <p><small>The total number of active and inactive clients currently connected and registered on the broker.</small><p>
 <h3>{{ cache["$SYS/broker/clients/total"].raw_msg }}</h3>
 </div>

</div>
<div class="row">

 <div class="col-md-3 "> <h4>Total received</h4>
 <p><small>The total number of PUBLISH messages received since the broker started.</small><p>
 <h3>{{ cache["$SYS/broker/publish/messages/received"].raw_msg }}</h3>
 </div>


 <div class="col-md-3"> <h4>Total sent</h4>
 <p><small>The total number of PUBLISH messages sent since the broker started.</small><p>
 <h3>{{ cache["$SYS/broker/publish/messages/sent"].raw_msg }}</h3>
 </div>

 <div class="col-md-3 "> <h4>Total retained</h4>
 <p><small>The total number of retained messages active on the broker.</small><p>
 <h3>{{ cache["$SYS/broker/retained messages/count"].raw_msg }}</h3>
 </div>

</div>

<div class="row">

 <div class="col-md-3"> <h4>Total bytes sent</h4>
 <p><small>The total number of bytes sent since the broker started.</small><p>
 <h3>{{ cache["$SYS/broker/bytes/sent"].raw_msg|filesizeformat(False) }}</h3>
 </div>

 <div class="col-md-3 "> <h4>Total bytes received</h4>
 <p><small>The total number of bytes received since the broker started.</small><p>
 <h3>{{ cache["$SYS/broker/bytes/received"].raw_msg|filesizeformat(False) }}</h3>
 </div>

<div class="col-md-3 "> <h4>Total dropped</h4>
 <p><small>The total number of publish messages that have been dropped due to inflight/queuing limits. See the max_inflight_messages and max_queued_messages options in mosquitto.conf(5) for more information.</small><p>
 <h3>{{ cache["$SYS/broker/publish/messages/dropped"].raw_msg }}</h3>
 </div>

</div>


<br/>
<br/>
<br/>
<h3>List of all metrics</h3>
<div class="table-responsive">

<table id = "inter_console_table" class="table table-striped">
     <thead>
                    <tr>
                      <th data-sort="string">topic (↑↓)</th>
                      <th width = "200" data-sort="string">value (↑↓)</th>
                      <th>Description</th>
                      <th width = "250" >last msg</th>
                    </tr>
     </thead>
     <tbody>
     {% for key,value in cache.iteritems() %}
     {% set description = status_mapping.get_mqtt_broker_status_description(key) %}
      <tr>
       <td>{{ key }} </td>
       <td> {{ value.raw_msg }} </td>
       <td> {{ description }} </td>
       <td> {{ value.timestamp_iso }}  </td>
      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>


{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#inter_console_table").stupidtable();
    });
    </script>

{% endblock %}
