{% extends "base_layout.html" %}
{% block li_address_mapping %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Mqtt cllient</h3>
<div class="container-fluid">

<form class="form-horizontal" role="form" action="" method="POST">
<div class="row">
  <div class="form-group ">
    <label for="inputAddress" class="col-sm-2 col-lg-1  control-label">Address</label>
    <div class="col-sm-8 ">
      <input type="text" name="address" class="form-control" id="inputAddress"  value="{{ address }}">
    </div>
  </div>
</div>
 <div class="row">
    <div  >
        <textarea name="payload" class="col-sm-10" id="payload" rows="20" >{{ payload }}</textarea>
    </div>
 </div>
<br/>

<div class="row">
  <div class="form-group ">
    <label for="inputAddress" class="col-sm-2 col-lg-2  control-label">Auto resend delay (milis)</label>
    <div class="col-sm-2 ">
      <input type="number" name="address" class="form-control" id="inputAutoresendDelay"  value="0">
    </div>
  </div>
</div>

<div class="row">
 <div class="form-group">
    <div class="col-sm-5">
      <button type="button" onclick="send_message()" class="btn btn-default">Send</button>
      <button type="button" onclick="window.history.back()" class="btn btn-default">Cancel</button>

    </div>
  </div>
</div>
</form>

</div>
<br>
<p>{{ status }}</p>


{% endblock %}
{% block js_scripts %}

<script src="{{ global_context.root_uri }}/static/js/mqtt_client.js"></script>

{% endblock %}
