{% extends "base_layout.html" %}
{% block li_cache %}class="active"{% endblock %}
{% block body %}
{# {"address":address,"payload":json.dumps(payload,indent=True),"msg_class":msg_class,"text":text}#}
    <div>
    {% for v in cache %}
    <div>
         <p>Address:{{ v.address }}</p>
         <p>Msg class(type):{{ v.msg_class }}</p>
         <p>Comments:{{ v.text }}</p>
         <p>Message payload:{{ v.text }}</p>
         <pre>{{v.payload}}</pre>

    </div>
    {% endfor %}
    </div>

{% endblock %}