{% extends "base_layout.html" %}
{% block li_msg_history %}class="active"{% endblock %}
{% block body %}

    <div>
    <form action="/api/msg_history"   method="POST" style="display:inline">
        <input type="hidden" name="action" value="delete_all"/>
        <button type="submit"  class="btn btn-default">Delete all</button>
    </form>
    {% for msg in history %}
     <div>
         <b>Time : {{ msg.time_iso }} ; msg class:{{ msg.msg_class }} ; address:{{ msg.address }}</b>
         <pre>{{msg.msg}}</pre>
         <div  >

            <form action="/api/msg_history"   method="POST" style="display:inline">
                <input type="hidden" name="id" value="{{ msg.id }}"/>
                <input type="hidden" name="action" value="resend"/>
                <button type="submit"  class="btn btn-default">Resend</button>
            </form>
            <form action="/api/msg_history"  method="POST" style="display:inline">
                <input type="hidden" name="id" value="{{ msg.id }}"/>
                <input type="hidden" name="action" value="delete"/>
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
         </div>
     </div>
     </br>
    {% endfor %}
    </div>

{% endblock %}