          {% if item.ui_mapping.ui_element=="toggle_switch" %}
               <div id="{{ item.key }}">
                <a id="{{ item.key+"_on" }}"  href="#" onclick="send_command({{ item.id }},'{{ item.key }}','toggle_switch',true); return false" class="btn btn-default btn" >On</a>
                <a id="{{ item.key+"_off" }}"  href="#" onclick="send_command({{ item.id }},'{{ item.key }}','toggle_switch',false); return false" class="btn btn-default btn" >Off</a>
               </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="binary_light" %}
             <div id="{{ item.key }}" class="alert alert-success"></div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="free_text" %}
             <div id="{{ item.key }}"> <a class="btn btn-default btn" onclick="open_free_text('{{ item.key }}')" data-toggle="modal" data-target=".bs-example-modal-lg">Show value</a> </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="sensor_value" %}
            <div id="{{ item.key }}"> <h3>  <small> </small></h3></div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="input_num_field" %}
            <div id="{{ item.key }}" >
                <div class="input-group">
                  <input id="{{ item.id }}_input" type="text" class="form-control" style="min-width: 100px">
                  <span class="input-group-btn">
                    <button class="btn btn-default"  onclick="send_command({{ item.id }},'{{ item.key }}','input_num_field',''); return false" type="button">Set</button>
                  </span>
                </div>

            </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="input_text_field" %}
            <div id="{{ item.key }}">
                <div class="input-group">
                  <input id="{{ item.id }}_input" type="text" class="form-control" style="min-width: 100px">
                  <span class="input-group-btn">
                    <button class="btn btn-default"  onclick="send_command({{ item.id }},'{{ item.key }}','input_text_field',''); return false" type="button">Set</button>
                  </span>
                </div>

            </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="input_dropdown_field" %}
            <div id="{{ item.key }}">
                <div class="input-group input-append">
                  <input id="{{ item.id }}_input" type="text" class="form-control" style="min-width: 100px">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      {% for value in item.ui_mapping.value_enum %}
                        <li><a href="javascript:update_dropdown_input('{{ item.id }}_input','{{ value }}')" >{{ value }}</a></li>
                      {% endfor %}
                    </ul>
                      <button class="btn btn-default"  onclick="send_command({{ item.id }},'{{ item.key }}','input_text_field',''); return false" type="button">Set</button>
                  </div><!-- /btn-group -->
                </div>

            </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="slider" %}
            <div id="{{ item.key }}">
                <div class="input-group">
                  <input id="{{ item.id }}_input" key = "{{ item.key }}" type="text" ui_ext_type='slider' class="form-control" style="min-width: 100px" />
                </div>
             </div>
          {% endif %}
          {% if item.ui_mapping.ui_element=="msg_class_ui" %}
              {% include 'msg_class_ui/'+item.msg_class+'.html' %}
          {% endif %}
