{% extends "base_layout.html" %}
{% block li_msg_types %}{% endblock %}
{% block body %}
</h1>
<div class="container-fluid">
<div class="panel panel-default">
<div class="panel-heading font-bold">Settings</div>
<div class="panel-body">
<form class="form-horizontal" role="form" action="" method="post">
  <div class="form-group">
    <label for="mqtt_host_input" class="col-sm-2 control-label">App/Service ID (SID)</label>
    <div class="col-sm-10">
      <input type="text" name="system_sid" class="form-control" id="mqtt_host_input" placeholder="" value="{{ cfg.system.sid }}">
    </div>
  </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="form-group">
    <label for="mqtt_host_input" class="col-sm-2 control-label">host</label>
    <div class="col-sm-10">
      <input type="text" name="mqtt_host" class="form-control" id="mqtt_host_input" placeholder="" value="{{ cfg.mqtt.host }}">
    </div>
  </div>
  <div class="form-group">
    <label for="mqtt_port_input" class="col-sm-2 control-label">port</label>
    <div class="col-sm-10">
      <input type="text" name="mqtt_port" class="form-control" id="mqtt_port_input"  value="{{ cfg.mqtt.port }}">
    </div>
  </div>

  <div class="form-group">
    <label for="mqtt_topic_input" class="col-sm-2 control-label">subscribe topic</label>
    <div class="col-sm-10">
      <input type="text" name="mqtt_root_topic" class="form-control" id="mqtt_topic_input"  value="{{ cfg.mqtt.root_topic }}">
    </div>
  </div>

  <div class="form-group">
    <label for="mqtt_client_id_input" class="col-sm-2 control-label">client id</label>
    <div class="col-sm-10">
      <input type="text" name="mqtt_client_id" class="form-control" id="mqtt_client_id_input"  value="{{ cfg.mqtt.client_id }}">
    </div>
  </div>
  <div class="form-group">
    <label for="mqtt_client_id_input" class="col-sm-2 control-label">username</label>
    <div class="col-sm-10">
      <input type="text" name="mqtt_username" class="form-control" id="mqtt_client_id_input"  value="{{ cfg.mqtt.username }}">
    </div>
  </div>
  <div class="form-group">
    <label for="mqtt_client_id_input" class="col-sm-2 control-label">password</label>
    <div class="col-sm-10">
      <input type="text" name="mqtt_password" class="form-control" id="mqtt_client_id_input"  value="{{ cfg.mqtt.password }}">
    </div>
  </div>
   <div class="form-group">
    <label for="mqtt_client_id_input" class="col-sm-2 control-label">global topic prefix</label>
    <div class="col-sm-10">
      <input type="text" name="mqtt_global_topic_prefix" class="form-control" id="mqtt_client_id_input"  value="{{ cfg.mqtt.global_topic_prefix }}">
    </div>
  </div>
   <div class="form-group">
    <label for="enable_sys_input" class="col-sm-2 control-label">Enable broker minitoring</label>
    <div class="col-sm-10">
      <select name="enable_sys" class="form-control">
         <option value="True" {% if cfg.mqtt.enable_sys %} selected {% endif %}>True</option>
         <option value="False"{% if not cfg.mqtt.enable_sys %} selected {% endif %}>False</option>
      </select>
    </div>
  </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="form-group">
    <label for="db_path_input" class="col-sm-2 control-label">History db file path</label>
    <div class="col-sm-10">
      <input type="text" name="db_path" class="form-control" id="db_path_input"  value="{{ cfg.db.db_path }}">
    </div>
  </div>
  <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
    <label  class="col-sm-2 control-label">Influx db enabled</label>
    <div class="col-sm-10">
      <select name="influx_enabled" class="form-control">
         <option value="True" {% if cfg.influxdb.enabled %} selected {% endif %}>True</option>
         <option value="False"{% if not cfg.influxdb.enabled %} selected {% endif %}>False</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label"> influx hostname</label>
    <div class="col-sm-10">
      <input type="text" name="influx_host" class="form-control" id="db_path_input"  value="{{ cfg.influxdb.host }}">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label"> influx port</label>
    <div class="col-sm-10">
      <input type="number" name="influx_port" class="form-control" id="db_path_input"  value="{{ cfg.influxdb.port }}">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label"> influx username</label>
    <div class="col-sm-10">
      <input type="text" name="influx_username" class="form-control" value="{{ cfg.influxdb.username }}">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label"> influx password</label>
    <div class="col-sm-10">
      <input type="password" name="influx_password" class="form-control"  value="{{ cfg.influxdb.password }}">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label"> influx db name</label>
    <div class="col-sm-10">
      <input type="text" name="influx_db_name" class="form-control"  value="{{ cfg.influxdb.db_name }}">
    </div>
  </div>
  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save</button>
        <button type="button" onclick="location.href = '{{ global_context.root_uri }}/sys/mqtt_ctrl/start'" class="btn btn-default">Connect to broker</button>
        <button type="button" onclick="location.href = '{{ global_context.root_uri }}/sys/mqtt_ctrl/stop'" class="btn btn-default">Disconnect from broker</button>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
</div>
</div>

</div>


{% endblock %}
{% block js_scripts %}
    <script src="{{ global_context.root_uri }}/static/js/stupidtable.min.js"></script>
    <script src="{{ global_context.root_uri }}/static/js/msg_class.js"></script>
    <script src="{{ global_context.root_uri }}/static/js/utils.js"></script>

{% endblock %}
