{% extends "base_layout.html" %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Log <a href="/ui/timeseries/chart/{{ device_info.device_id }}"> <span class="pull-right glyphicon glyphicon-stats">&nbsp;</span></a></h3>
<h5>{{ ts|length }} items has been logged</h5>
<form action="" method="post">
 <input type="hidden" name="action" value="delete_all"/>
 <button type="submit"  class="btn btn-default">Delete All</button>
</form>

<div class="container-fluid">

<div class="table-responsive">
 <table id="addr_map_table" class="table table-striped">
     <thead>
        <tr>
            <th>Timestamp</th>
            <th>Value </th>
        </tr>
     </thead>
     <tbody>
     {% for item in ts |sort(attribute="time",reverse=True) %}
      <tr>
       <td> {{ item.time_iso }} </td>
       <td> {{ item.value }}</td>
      </tr>
      {% endfor %}
     </tbody>

 </table>
</div>
</div>


{% endblock %}
{% block js_scripts %}
    <script src="/static/js/stupidtable.min.js"></script>


{% endblock %}
