{% extends "base_layout.html" %}
{% block li_inter_console %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Device reported values over time</h3>
<div class="container-fluid">

<div id="chart_container" style="width:100%; height:400px;"></div>

</div>


{% endblock %}
{% block js_scripts %}
    <script type="text/javascript">
    var device_id = {{ device_info["device_id"] }}
    </script>
    <script src="/static/js/Highstock-2.0.3/js/highstock.js"></script>
    <script src="/static/js/timeseries_chart.js"></script>


{% endblock %}
