{% extends "base_layout.html" %}
{% block li_msg_types %}{% endblock %}
{% block body %}
</h1>
<h3 xmlns="http://www.w3.org/1999/html">Blackfly software updates</h3>
<div class="container-fluid">

  <br/>
  <h4>Currently installed version</h4>
  <div class="row">
    <div class="col-sm-2">Build id:</div>
    <div class="col-sm-2">{{ current_info.build_id }}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Git commit hash:</div>
    <div class="col-sm-2">{{ current_info.git_commit }}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Git branch:</div>
    <div class="col-sm-2">{{ current_info.git_branch }}</div>
  </div>
  <br/>
 <h4>Latest stable version available for installation</h4>
  <div class="row">
    <div class="col-sm-2">Build id:</div>
    <div class="col-sm-2">{{ master_info.build_id }}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Git commit hash:</div>
    <div class="col-sm-2">{{ master_info.git_commit }} {% if current_info.git_commit == master_info.git_commit %} <b> Your current version </b> {% endif %}</div>
  </div>
  <br>
  <form class="form-horizontal" role="form" action="" method="post">
      <input type="hidden" name="action" value="update_to_master">
      <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default">Update to latest stable version</button>
        </div>
      </div>
    </form>
 <br/>
 <h4>Latest development version available for installation</h4>
  <div class="row">
    <div class="col-sm-2">Build id:</div>
    <div class="col-sm-2">{{ develop_info.build_id }}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Git commit hash:</div>
    <div class="col-sm-2">{{develop_info.git_commit }} {% if current_info.git_commit == develop_info.git_commit %} <b> Your current version </b> {% endif %}</div>
  </div>
  <br>
   <form class="form-horizontal" role="form" action="" method="post">
      <input type="hidden" name="action" value="update_to_develop">
      <div class="form-group">
       <div class="col-sm-2">
            <button type="submit" class="btn btn-default">Update to latest dev version</button>
        </div>
      </div>
    </form>
  <br/>
<div class="row">
    <div class="col-sm-2">{{ status }}</div>
</div>

</div>


{% endblock %}
{% block js_scripts %}
<script src="{{ global_context.root_uri }}/static/js/tools.js"></script>
{% endblock %}
