{% extends "base_layout.html" %}
{% block li_zw_diganostics %}class="active"{% endblock %}
{% block css_scripts %}
<link rel="stylesheet" href="{{ global_context.root_uri }}/static/css/custom_icons.css">
{% endblock %}
{% block body %}
</h1>
<h3>Z-Wave network managment</h3>
<div class="container-fluid">

<h4>Add / remove a device </h4>
<div class="btn-group">
  <button type="button" class="btn btn-default" onclick="start_clusion_mode('zw_inclusion_mode',true,true)" title = "Inclusion mode" >Add device</button>
  <button type="button" class="btn btn-default" onclick="start_clusion_mode('zw_exclusion_mode',true,true)" title = "Exclusion mode" >Remove device</button>
</div>
 <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Advanced operations</a>
<div class="collapse" id="collapseExample">
  <div class="well">
  <p><button type="button" class="btn btn-success" style="width: 280px" onclick="get_controller_full_info()" title="Full info">Request controller full info</button>
      - The operation gets complete information about controller . The information contains controller Node Id , zwave network Home Id , etc.
  </p>
  <p><button type="button" class="btn btn-default" style="width: 280px" onclick="start_clusion_mode('zw_inclusion_mode',true,false)" title="Add device non securely">Add device non securely</button>
      - The same as normal "Add device " but with disabled security. Some devices may behave differently if they were included securely or non-securely.
  </p>
  <p><button type="button" class="btn btn-default" style="width: 280px" onclick="learn_mode(true)" title="Learn mode">Learn mode</button>
      - The operation is used to add/remove zwave controller into/from another network . In order to complete the process you need to press "Add"/"Remove" in another controller.
      WARNING :existing networks will be reseted .
  </p>
  <p><button type="button" class="btn btn-default" style="width: 280px" onclick="controller_shift(true)" title="Controller shift">Set another controller as primary</button>
      - The operation is used to add the controller to the Z-Wave network and transfer the role as primary controller to it.
  </p>
  <p><button type="button" class="btn btn-default" style="width: 280px" onclick="network_update()" title="Controller shift">Request network update</button>
      - The operation is used to request network update from SUC or primary controller.
  </p>
  <p><button type="button" class="btn btn-default" style="width: 280px" onclick="re_interview_network(true)" title="Reinterview the network">Reinterview the network</button>
      - The operation is used to perform interview of all nodes within the network.Operation will generate a lot of traffic .
  </p>
  <p><button type="button" class="btn btn-warning" style="width: 280px" onclick="hard_reset()" title="Hard reset">Controller hard reset</button>
      - The operation is used to to restart Zwave module . The operation will NOT reset zwave network .
  </p>
  <p><button type="button" class="btn btn-danger"  onclick="reset_controller_to_default()" title="Reset to default">Reset to default</button>
      - !!!DANGER!!!! The operation will delete entire Zwave network and will assign new home ID.
  </p>
  </div>
</div>

<br/>
<h4>Z-Wave mesh routing information</h4>
<a href="{{ global_context.root_uri }}/ui/zw_diagnostics?action=refresh_routing_info" class="btn btn-default " role="button">Refresh routing info from zwave module</a>

<div class="table-responsive">
 <table id="addr_map_table" class="table table-striped">
  <thead>
    <tr>
        <td>Node id</td>
        <td>Alias</td>
        <td>Neighbors</td>
        <td>Power source</td>
        <td>Queue</td>
        <td>Interviewed</td>
        <td>action</td>
    </tr>
  </thead>
  <tbody>

    {% if context %}
            {% for ctx in context|sort(attribute="id") %}
                    <tr>
                        <td><a href="{{ global_context.root_uri }}/ui/inter_console?filter=/dev/zw/{{ ctx.id }}&mode=normal">{{ ctx.id }}</a></td>
                        <td>{{ ctx.Alias }}</td>
                        <td>{{ ctx.nb_list }}</td>
                        <td>
                              {% if ctx.listening %}
                                  <div class="icon-mains-power"></div>
                              {% else %}
                                  <div class="icon-battery"></div>
                              {% endif %}
                        </td>
                       <td>{{ ctx.msg_queue_size+ctx.task_queue_size }}</td>
                       <td>{{ ctx.interviewed }}</td>
                        <td><a href="#" onclick="ping_node({{ ctx.id }})">Ping</a> |
                {#            <a href="#">Update neighbors list</a> |#}
                            <a href="#" onclick="get_node_info({{ ctx.id }})" >Request inclusion report</a> |
                            <a href="#" onclick="nb_update({{ ctx.id }})" >Neighbors rediscovery</a> |
                            <a href="#" onclick="remove_node({{ ctx.id }})" >Remove failed</a> |
                            <a href="#" onclick="replace_node(true,{{ ctx.id }})" >Replace failed</a></td>
                    </tr>
            {% endfor %}
    {% else %}
        {%  for node , nb in routing_info.iteritems() %}
                    <tr>
                        <td><a href="{{ global_context.root_uri }}/ui/inter_console?filter=/dev/zw/{{ node }}&mode=normal">{{ node }}</a></td>
                        <td>{{ nb }}</td>
                        <td></td>
                        <td><a href="#" onclick="ping_node({{ node }})">Ping</a> |
                {#            <a href="#">Update neighbors list</a> |#}
                            <a href="#" onclick="get_node_info({{ node }})" >Request inclusion report</a> |
                            <a href="#" onclick="nb_update({{ node }})" >Neighbors rediscovery</a> |
                            <a href="#" onclick="remove_node({{ node }})" >Remove</a> |
                            <a href="#" onclick="replace_node({{ node }})" >Replace</a></td>
                    </tr>
        {% endfor %}
    {% endif %}
  </tbody>
 </table>
</div>

<br>
<h4>Network graph</h4>
<div class="row">
   <div  style="height: 800px;width: 100%;border:1px solid black;"  id ="network_graph">
   </div>
 </div>
</div>
<br>
<div class="row">
 You may include a Z-Wave Plus compatible device that is not promoted by Smartly for use in this application. While the device should work as expected the device may or may not support all of the features of the smartly recommended device.
</div>
{#Modal dialog #}
<div class="modal fade" id="start_mode_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header"></h4>
      </div>

      <br/>
      <div class="modal-body">
        <div id="countdown_id" ></div>
        <div id="clusion_log" ></div>
        <div id="clusion_mode_result" ></div>
        <div id="clusion_mode_status">  </div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="start_clusion_mode('',false)" >Stop</button>
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
       </div>
    </div>
  </div>
</div>

{#Controller shift dialog #}
<div class="modal fade" id="start_cshift_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header">Controller shift</h4>
      </div>

      <br/>
      <div class="modal-body">
        <div id="cshift_result" ></div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="controller_shift(false)" >Stop</button>
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
       </div>
    </div>
  </div>
</div>

{#Learn mode dialog #}
<div class="modal fade" id="learn_mode_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header">Learn mode</h4>
      </div>

      <br/>
      <div class="modal-body">
        <div id="learn_mode_result" ></div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="learn_mode(false)" >Stop</button>
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
       </div>
    </div>
  </div>
</div>

{#Modal dialog #}
<div class="modal fade" id="ping_node_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header"></h4>
      </div>

      <br/>
      <div id="ping_node_result" class="modal-body">
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>

{#Modal dialog #}
<div class="modal fade" id="factory_reset_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header"></h4>
      </div>

      <br/>
      <div id="factory_reset_result" class="modal-body">
      </div>
      <div id="factory_reset_result" class="modal-body">
          <a href="/blackfly/ui/inter_console?filter=msg_class%3Adevicereg.delete_all&mode=normal" style="color: red" > Click here to RESET Device Registry </a>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>

{#Modal dialog #}
<div class="modal fade" id="log_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header">Log</h4>
      </div>

      <br/>
      <div id="log_output" class="modal-body">
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="re_interview_network(false)">Close</button>
       </div>
    </div>
  </div>
</div>

{#Modal dialog #}
<div class="modal fade" id="replace_failed_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mode_header">Replace failed node</h4>
      </div>

      <br/>
      <div id="replace_failed_log_output" class="modal-body">
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="replace_node(false,null)">Close</button>
       </div>
    </div>
  </div>
</div>

{# Controller full info modal dialog #}
<div class="modal fade" id="controller_full_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header">Zwave advanced info</h4>
      </div>
      <div class="modal-body">
      <h5> Network role : <span id="network_role"></span> </h5>
      <h5> Home id : <span id="home_id"></span> </h5>
      <h5> Node id : <span id="node_id"></span> </h5>
      <div id="full_info_result">

      </div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>



{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "normal"
    </script>
    <script src="{{ global_context.root_uri }}/static/js/cytoscapelib/cola.v3.min.js"></script>
    <script src="{{ global_context.root_uri }}/static/js/cytoscape.min.js"></script>
    <script src="{{ global_context.root_uri }}/static/js/zw_diagnostics.js"></script>


{% endblock %}
