{% extends "base_layout.html" %}
{% block li_zw_diganostics %}class="active"{% endblock %}
{% block body %}
</h1>
<h3>Zwave network managment</h3>
<div class="container-fluid">

<h4>Add / remove a device </h4>
<div class="btn-group">
  <button type="button" class="btn btn-default" onclick="start_clusion_mode('zw_inclusion_mode',true)" title = "Inclusion mode" >Add device</button>
  <button type="button" class="btn btn-default" onclick="start_clusion_mode('zw_exclusion_mode',true)" title = "Exclusion mode" >Remove device</button>
</div>
 <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Advanced operations</a>
<div class="collapse" id="collapseExample">
  <div class="well">
  <p><button type="button" class="btn btn-success" onclick="get_controller_full_info()" title="Full info">Request controller full info</button>
      - The operation gets complete information about controller . The information contains controller Node Id , zwave network Home Id , etc.
  </p>
  <p><button type="button" class="btn btn-default" onclick="learn_mode(true)" title="Learn mode">Include the gateway into another network</button>
      - The operation is used to add zwave controller into another network . In order to complete the process you need to press "Add device" in another controller.
      WARNING :existing networks will be reseted .
  </p>
  <p><button type="button" class="btn btn-default" onclick="controller_shift(true)" title="Controller shift">Set another controller as primary</button>
      - The operation is used to add the controller to the Z-Wave network and transfer the role as primary controller to it.
  </p>
  <p><button type="button" class="btn btn-default" onclick="hard_reset()" title="Hard reset">Controller hard reset</button>
      - The operation is used to to restart Zwave module . The operation will NOT reset zwave network .
  </p>
  <p><button type="button" class="btn btn-danger" onclick="reset_controller_to_default()" title="Reset to default">Reset to default</button>
      - !!!DANGER!!!! The operation will delete entire Zwave network and will assign new home ID.
  </p>
  </div>
</div>

<br/>
<h4>Zwave mesh routing information</h4>
<a href="/ui/zw_diagnostics?action=refresh_routing_info" class="btn btn-default " role="button">Refresh routing info from zwave module</a>

<div class="table-responsive">
 <table id="addr_map_table" class="table table-striped">
  <thead>
    <tr>
        <td>Node id</td>
        <td>Neighbors</td>
        <td>action</td>
    </tr>
  </thead>
  <tbody>
    {%  for node , nb in routing_info.iteritems() %}
    <tr>
        <td><a href="/ui/inter_console?filter=/dev/zw/{{ node }}&mode=normal">{{ node }}</a></td>
        <td>{{ nb }}</td>
        <td><a href="#" onclick="ping_node({{ node }})">Ping</a> |
{#            <a href="#">Update neighbors list</a> |#}
            <a href="#" onclick="get_node_info({{ node }})" >Request NIF</a> |
            <a href="#" onclick="nb_update({{ node }})" >Neighbors rediscovery</a> |
            <a href="#" onclick="remove_node({{ node }})" >Remove</a> |
            <a href="#" onclick="replace_node({{ node }})" >Replace</a></td>
    </tr>
    {% endfor %}
  </tbody>
 </table>
</div>

<br>
<h4>Network graph</h4>
<div class="row">
   <div  style="height: 800px;width: 100%;border:1px solid black;"  id ="network_graph">
   </div>
 </div>
</div>


{#Modal dialog #}
<div class="modal fade" id="start_mode_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header"></h4>
      </div>

      <br/>
      <div class="modal-body">
        <div id="countdown_id" ></div>
        <div id="clusion_mode_result" ></div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="start_clusion_mode('',false)" >Stop</button>
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
       </div>
    </div>
  </div>
</div>

{#Controller shift dialog #}
<div class="modal fade" id="start_cshift_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header">Controller shift</h4>
      </div>

      <br/>
      <div class="modal-body">
        <div id="cshift_result" ></div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="controller_shift(false)" >Stop</button>
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
       </div>
    </div>
  </div>
</div>

{#Learn mode dialog #}
<div class="modal fade" id="learn_mode_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header">Controller shift</h4>
      </div>

      <br/>
      <div class="modal-body">
        <div id="learn_mode_result" ></div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="learn_mode(false)" >Stop</button>
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
       </div>
    </div>
  </div>
</div>

{#Modal dialog #}
<div class="modal fade" id="ping_node_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mode_header"></h4>
      </div>

      <br/>
      <div id="ping_node_result" class="modal-body">
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>



{% endblock %}
{% block js_scripts %}
    <script>
      var mode = "normal"
    </script>
    <script src="/static/js/cytoscapelib/cola.v3.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>
    <script src="/static/js/zw_diagnostics.js"></script>


{% endblock %}
