<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('{{ auth_client_id }}', 'zmarlin.eu.auth0.com', {
    auth: {
      redirectUrl: '{{ redirect_uri }}',
      responseType: 'code',
      params: {
        scope: 'openid email nickname app_metadata',
        state: '{{ state }}'  // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
 function signin(){
     lock.show()
 }
 window.onload=window.signin;
</script>

</head>
<body>

</body>
</html>